:root {
    --home-color: #F1F1F1;
    --list-color: lightblue;
    --table-color: rgb(97, 166, 189);
    --color-text: #0F141E;
    --color-theme: #444;
    --color-shadow: 4px 4px 14px rgba(0, 0, 0, 0.5);
    --color-text-theme: #fff;
}

:root[theme='dark'] {
    --home-color: #222;
    --list-color: #777;
    --table-color: #999;
    --color-text: #eee;
    --color-theme: #ddd;
    --color-shadow: 4px 4px 14px rgba(255, 255, 255, 0.5);
    --color-text-theme: #444;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400px;
    color: var(--color-text);
    background-color: var(--home-color);
}

.container {
    margin: auto;
    max-width: 750px;
    padding-top: 30px;
}

.info {
    margin-bottom: 20px;
    display: flex;
}

@media (max-width: 650px){
    .info {
        margin-bottom: 20px;
        display: block;
        text-align: center;
    }
}

.text-info {
    margin-left: 30px;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: var(--color-shadow);
}

.card {
    border: 3px solid black;
    border-radius: 20px;
    padding: 15px 20px;
    margin: 10px;
}

.life {
    background-color: var(--list-color);
    width: 700px;
}

@media (max-width: 650px) {
    .life {
        width: 100vw;
    } 
}

.life h2 {
    margin-bottom: 20px;
}

.dream {
    background-color: var(--table-color);
    width: 700px;
}

.dream h2 {
    margin-bottom: 20px;
}

.text-info p {
    font-style: italic;
    font-weight: 800px;
    margin: 0;
    color: #86898f;
}

.text-info h4{
    margin-bottom: 10px;
}

a {
    background: lightblue;
    color: #000;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
}

#themes {
    background: var(--color-theme);
    color: var(--color-text-theme);
    padding: 10px 15px;
    width: 12em;
    border-radius: 10px;
    font-family: sans-serif;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: grey;
}

.btn {
    background: #000;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: inherit;
}

.btn:hover {
    opacity: .8;
}

.table {
    width: 100%;
}

@media (max-width: 650px) {
    .dream {
        width: 100%;
    } 
}

.table thead {
    text-align: left;
}

.table td {
    padding-bottom: 7px;
}

.table td:hover {
    opacity: 0.5;
}

.table th {
    padding-bottom: 10px;
}

.list {
    padding-left: 10px;
}

.list li {
    margin-bottom: 10px;
}

.form h2 {
    text-align: center;
}

.form-row .form-group {
    display: inline-block;
    margin-right: 10px;
    width: calc(50% - 20px)
}

@media (max-width:650px) {
    .form-row .form-group {
    display: block;
    margin-right: 0px;
    margin-bottom: 10px;
    width: 100%;
    }
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    font-size: 15px;
    color: 86898f;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    color: #000;
    border-bottom: 1px solid #ccc;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}
